*{
    margin: 0;
    padding: 5px;
    border: 1px solid #080;
}
header{
    background: #080;
    color: white;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
main{
    padding: 20px;
    background: #f0f0f0;
    box-shadow: #080 0px 0px 10px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    background: white;
    box-shadow: #080 0px 0px 10px;
    border: 5px solid blue;
}
.container_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.container_box a{
    display: flex;
    text-decoration: none;
    color: #080;
    font-weight: bold;
    justify-content: center;
    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #080;
    color: white;
    padding: 5px 10px;
}
li{
    list-style: none;
    margin: 0 5px;
}
.buttons{
    display: inline-block;
    padding: 10px 20px;
    background: #080;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}
.form_button{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding:0;
    width: 100px;
    
}
footer{
    background: #080;
    color: white;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

